.qrcode-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.focus {
  position: absolute;
  height: 400px;
  width: 400px;
  display: block;
  z-index: 1;
}

.top-left {
  &::after, &::before {
    content: '';
    position: absolute;
    background: #FFF;
  }
}

.bot-left {
  &::after, &::before {
    content: '';
    position: absolute;
    background: #FFF;
  }
}

.top-right {
  &::after, &::before {
    content: '';
    position: absolute;
    background: #FFF;
  }
}

.bot-right {
  &::after, &::before {
    content: '';
    position: absolute;
    background: #FFF;
  }
}

.top-left {
  &::after {
    top: 0;
    left: 0;
    height: 10px;
    width: 50px;
  }
  &::before {
    top: 0;
    left: 0;
    height: 50px;
    width: 10px;
  }
}

.bot-left {
  &::after {
    bottom: 0;
    left: 0;
    height: 10px;
    width: 50px;
  }
  &::before {
    bottom: 0;
    left: 0;
    height: 50px;
    width: 10px;
  }
}

.top-right {
  &::after {
    top: 0;
    right: 0;
    height: 10px;
    width: 50px;
  }
  &::before {
    top: 0;
    right: 0;
    height: 50px;
    width: 10px;
  }
}

.bot-right {
  &::after {
    bottom: 0;
    right: 0;
    height: 10px;
    width: 50px;
  }
  &::before {
    bottom: 0;
    right: 0;
    height: 50px;
    width: 10px;
  }
}

.video-wrapper {
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  left: -100%;
  right: -100%;
  margin: auto;
}
