.dropdown-form-wrapper {
	position: relative;

	&:hover {
		.dropdown-btn {
			opacity: 1;
		}
	}

	.dropdown-btn {
		float: right;
		font-size: 13px;
		letter-spacing: 1px;
	    border: 0;
	    margin: -8px 0 0;
	    padding: 8px 20px;
	    text-transform: uppercase;
	    border: 0;
	    border-radius: 0;
		box-shadow: none;
		outline: none;
		background: transparent;
		opacity: 0;
		transition: .3s;

		i {
			font-size: .9em;
		    margin-right: 3px;
		    vertical-align: middle;
		    margin-top: -2px;
		}

		&:hover {
			outline: none;
			border: 0;
		}

	    &.active {
	    	background: #1AB394;
	    	color: #fff;
	    	border: 0;
	    	opacity: 1;
	    	outline: 0;
	    }
	}

	td {
		.dropdown-form {
			margin-right: 36px;
		}
	}

	.dropdown-form {
		position: absolute;
		max-width: 700px;
		width: 100%;
		background: #1AB394;
		right: 1000000px;
		margin-top: 20px;
		opacity: 0;
		border: 0;
		padding: 20px;
		z-index: 1;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
		transition: .3s margin-top, .3s opacity;

		&.active {
			z-index: 1;
			margin-top: 26px;
			opacity: 1;
			right: 0;
		}

		.form-control {
			margin-bottom: 10px;
		    border-radius: 0;
		    -webkit-appearance: none;
		}

		.input-group {
			.input-group-addon {
				line-height: 32px;
				padding-top: 0;
				border: 0;
				padding-bottom: 0;
				vertical-align: top;
			}

			input {
				margin: 0;
				border: 0;
			}
		}

		.btn {
			text-transform: uppercase;
			margin-top: 13px;
		}

		label {
			color: white;
		}
	}
}

label {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
    color: #99aeca;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 10px;
  }
}

th {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
    color: #99aeca;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
